#popup {
	padding-top: 100px;
	overflow: auto;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	width: 100%;
}
#popup_content {
	background-color: #FEFEFE;
	margin: auto;
	padding: 40px 20px;
	border: 1px solid #000;
	width: 50%;
	/*height: 50%;*/
}
#popup_title {
	text-align: center;
	width: 80%;
	font-size: 24px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a {
	color: #000;
	text-decoration: none;
}